<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mens Fashion store</title>
    <link rel="stylesheet" href="/Front_end/static/styleSheet.css">
</head>

<body id="[blazerId].exercise3.html">
    {{template "logo.html"}}

    {{template "menu-bar.html"}}

    <main>
        <center>
            <h1>Hello {{.name}}</h1>
            <h2>Welcome to our E-commerce Website</h2>
            <p>Browse our products and enjoy shopping!</p>
        </center>
        <categories1 class="cat">
            {{ range .parentCat}}
            <parentCat class="items">
                <img src = "{{.Cover}}" alt="Check URL" width="300px" height="300px">
                <h3>
                    <u>
                        <a href="/ctgr/{{.CategoryID}}">
                            <center>
                                {{.CategoryName}} <br>
                            </center>
                        </a>
                    </u>
                </h3>
                
            </parentCat>
            {{end}}
        </categories1>
    </main>
</body>

</html>