<nav class="menu-bar">
    <hr>
    <ul>
        <li class="active">
            <a href="/">
                Home
            </a>
        </li>
        <li>
            <a href="itemCatalog.html">
                Item Catalog
            </a>
        </li>
        <li>
            <a href="/cart">
                View Cart
            </a>
        </li>
        <li>
            <a href="/login">
                Login
            </a>
        </li>
        <li>
            <a href="/signup">
                Sign Up
            </a>
        </li>
        <li>
            <a href="/logout">
                Logout
            </a>
        </li>
        <li>
            <a href="/aboutUs">
                About Us
            </a>
        </li>
    </ul>
    <hr>
</nav>