<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Website</title>
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
        <header>
            {{template "navbar.html"}}
        </header>
    
        <main>
            <h1>Welcome to our E-commerce Website</h1>
            <h2>Hello {{.name}}</h2>
            <p>Browse our products and enjoy shopping!</p>
            <h1>Products</h1>
            <ul>
                {{ range .products }}
                <li>
                    <h2>{{ .Name }}</h2>
                    <p>Price: ${{ .Price }}</p>
                    <img src="ProductsIMG/{{.CoverIMG}}" alt="{{.Name}} Cover">
                    <p>Description: {{ .Description }}</p>
                    <p>Quantity: {{ .Stock_quantity}}</p>
                    <form action="/cart/{{.ProductID}}" method="post">
                        <button type="submit">Add to Cart</button>
                    </form>
                    <form action="/review/{{.ProductID}}" method="get">
                        <button type="submit">Review</button>
                    </form>
                {{ end }}
            </ul>
        </main>
    
        <footer>
            &copy; E-commerce Website
        </footer>
    
        <script src="/static/js/main.js"></script>

    
</body>
</html>
